<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="\Magento\CatalogSearch\Block\Result">

    <plugin name="codilar_tag_search_plugin" type="Codilar\ProductTags\Block\Search\ProductTagSearch" />
    </type>
</config>
